<div class="container">
  <div class="row d-flex justify-content-center mt-5">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <nav mat-tab-nav-bar>
        <a
          class="min-w-50"
          mat-tab-link
          *ngFor="let link of navLinks"
          [routerLink]="link.path"
          routerLinkActive
          #rla="routerLinkActive"
          [active]="rla.isActive"
        >
          {{ link.label }}
        </a>
      </nav>

      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row d-flex justify-content-center mt-3">
    <div class="col-sm-10 col-md-8 col-lg-6">
      <div class="title text-center mb-3">Log in with</div>
      <button
        mat-flat-button
        color="primary"
        class="mr-3"
        (click)="loginWith('google')"
      >
        Google
      </button>
      <button
        mat-flat-button
        color="primary"
        class=""
        (click)="loginWith('google')"
      >
        Facebook
      </button>
    </div>
  </div>
</div>
